# PYTHON ENVIRONMENT
# Included:
# - MNE-Python
# - Braindecode
# - MOABB
# - AutoReject
# - Transformers
bci-env/
figs/week_2/*.png
figs/week_4/*.png
figs/week_5/*.png
models/__pycache__/
models/*.pt